org.eclipse.epsilon.eol.staticanalyser/bin/org/eclipse/epsilon/eol/staticanalyser/EolStaticAnalyser.class
org.eclipse.epsilon.evl.staticanalyser/bin/org/eclipse/epsilon/evl/staticanalyser/EvlStaticAnalyser.class
